<div class="card margintop_20">
    <div class="card-header">
      User Detail
    </div>
<div class="row ComponentBody margintop_10">
  <div class="col-3" style="padding:0px 0px 0px 15px;">
    User Name
  </div>
  <div class="col-2 marginleft_10m">
    <input #txtUserName type="text" [(ngModel)]="UserName" placeholder="User Name" class="form-control" autocomplete="false" ng-pattern="/^[a-zA-Z]*$/" (keydown)="PreventSpacialChar($event)" >
  </div>
  <div class="w-100"></div>
  <div class="col-3 margintop_10">Roles</div>
  <div class="col-9 marginleft_10m">
    <div class="row margintop_10">
      <div class="col">
        <input type="checkbox" [(ngModel)]="Roles[0].RoleValue">
        <label>{{Roles[0].RoleName}}</label>
      </div>
      <div class="col">
        <input type="checkbox" [(ngModel)]="Roles[1].RoleValue">
        <label>{{Roles[1].RoleName}}</label>
      </div>
      <div class="col">
        <input type="checkbox" [(ngModel)]="Roles[2].RoleValue">
        <label>{{Roles[2].RoleName}}</label>
      </div>
    </div>
  </div>
  <div class="col-12 text-right margintop_10">
    <input type="button" value="Submit" (click)="UpdateRoles()"/>
  </div>
</div>
</div>


<div class="margintop_20 table-responsive">
  <div class="card">
    <div class="card-header">
      Grid Data
    </div>
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col-1">#</th>
          <th scope="col-3">User Name</th>
          <th scope="col-6">Role(s)</th>
          <th scope="col-2">Updated On</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let GridRow of UserRoleGrid">
          <td scope="row" style="cursor: default; text-decoration: none;"><a href="#" (click)="DeleteRole(GridRow.UserName)">Delete</a></td>
          <td> {{GridRow.UserName}}</td>
          <td><span *ngFor="let UserRoles of GridRow.UserRole;let i = index">
              {{UserRoles.RoleName}}<span *ngIf="GridRow.UserRole.length>(i+1)">,</span>
            </span></td>
            <td>{{GridRow.Updated_On}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>